.flight-body-container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
  
    padding: 2%;
  }
  
  .flight-body-container .fbc-firstrow{
    width: 20%;
  }
  .flight-body-container .fbc-secondrow{
    width: 70%;
    margin-left: 5%;
  }